<?xml version="1.0" encoding="UTF-8"?>
<!-- Data illustrated in a live class => ROS Developers Live-Class #52: Localize a robot using GPS -->
<launch>
    <!-- Start robot_localization with gps, gps data is transformed into odometry data -->
    <node name="navsat_transform" pkg="robot_localization" type="navsat_transform_node" clear_params="true" output="screen" >
        <param name="frequency" value="30" />
        <param name="delay" value="3.0" />
        <param name="magnetic_declination_radians" value="0.00" />
        <param name="yaw_offset" value="0.0" />
        <param name="zero_altitude" value="true" />

        <param name="broadcast_cartesian_transform" value="true" />
        <param name="publish_filtered_gps" value="true" />

        <param name="use_odometry_yaw" value="false" />
        <param name="wait_for_datum" value="false" />

        <remap from="/imu/data" to="/imu/data" />
        <remap from="/gps/fix" to="/gnss" />
        <remap from="/odometry/filtered" to="/odometry/gps" />
        <remap from="/odometry/gps" to="/odometry/navsat" />  <!-- Usefull ? -->
    </node>

</launch>